@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: "Open Sans", cursive;
    margin: 0px;
    padding: 0px;
    background: url(../img/vintage.png);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #C80060;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

div.row {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em;
}

[id*="svg-col"] {
    padding: 0em;
    margin: 0;
}

article svg {
    font-family:  "Open Sans", sans-serif;
    border-radius: 10px;
}

svg.chart-group {
    width: 100%;
    max-width: 650px;
}

tooltip_div.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
    border: 1px solid #222;
    opacity: .9;
    color: #222;
    padding: 10px;
    min-width: 16.75vmin;
    font-size: 0.7em;
    line-height: 24pt;
    font-family:  "EB Garamond", serif;
    font-weight: lighter;
    visibility: visible;
    pointer-events: none;
}

.land {
    fill: #E8E8E8;
}

.bubble {
    fill-opacity: 0.9;
    vector-effect: non-scaling-stroke;
}

.feature-label {
    font-size: 0.7em;
    /* font-weight: bold; */
    pointer-events: none;
    text-anchor: middle;
    fill: white;
    text-shadow: 0 0 2px black;
}

.feature-label.hidden {
    display: none;
}

g.features path:hover, g.bar rect:hover, .bubble:hover, .districts:hover {
    stroke: #00ffff;
    stroke-width: 2px;
    fill-opacity: 0.8;
}

.bar text.value {
    fill: #808080;
    font: 11px sans-serif;
}

.axis {
    shape-rendering: crispEdges;
    font: 10px sans-serif;
}

.axis path {
    fill: none;
}

.x.axis line {
    stroke: #222;
}

.y.axis path {
    stroke: #222;
}

.features-overlay {
    stroke: white;
    stroke-width: 0.5px;
}

.white {
    fill: white;
}

.black {
    fill: black;
}

.grey {
    fill: grey;
}

#top-btn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 5%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
    border-radius: 4px;
}
#top-btn:hover {
    background-color: #7dbbf1;
}

.panel button {
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    -moz-border-radius: 50px;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    padding: 5px 20px;
    text-decoration: none;
    background:-moz-linear-gradient(center top , #f40000, #cc0000);
    background: -webkit-gradient(linear, center top, center bottom, from(#f40000), to(#cc0000));
    font-family: "Open Sans", cursive;
    font-weight: bold;
    font-size: 1.1em;
}

.panel button:hover {
    color: #fff;
    text-decoration: none;
    background: -webkit-gradient(linear, center top, center bottom, from(#7c0101), to(#420101));
}
.panel button:active {
    outline: none;
    border: none;
}

.panel {
    max-width: 600px;
    text-align: center;
    position: relative;
    margin: auto;
}

#title-details {
    font-size: 2em;
    border-bottom: 2px dotted #c80060;
}

a {
    text-decoration: none;
}

.dorling-legend {
    margin: 0 auto;
    display: table;
    position: relative;
    bottom: 5px;
    left: 5px;
}
.legend-area {
    fill: none;
    stroke: #000;
}
.legend-dotted-line {
  stroke: #000;
  stroke-dasharray: 2, 2;
  shape-rendering: crispEdges;
}
.legend-number {
  font-size: .7em;
}

/* grid system */
.row {
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
}
[class*="col-"] {
    flex: 0 0 92%;
    margin: 0 4%;
}
.full-width {
    flex: 0 0 100%;
    margin: 0;
}
.row.col-1-4 {
    margin-top: 3em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) { 
    .wrapper {
        width: 97%;
        max-width: 767px;
    }
    div.row {
      padding: 0 2em;
      margin: 2em 0;
    }
    [class*='col-']{
        margin-left: 4%;
        margin-right: 0%;
    }
    .col-1-2,
    .col-2 {
        flex: 0 0 44%; 
    }
    .col-1-4,
    .col-3,
    .col-4 {
     flex: 0 0 92%;
    }
    .reverse [class*='col-'] {
        margin-left: 0%;
        margin-right: 4%;
    }
    .legend {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        align-self: flex-start;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) { 
    .wrapper {
        width: 97%;
        max-width: 1200px;
        float: none;
    }
    h1 {
        font-size: 3em;
        border-bottom: 2px dotted #c80060;
    }
    h2 {
        font-size: 2em;
    }
    div.row {
        padding: 0;
        margin: 2em 0;
    }
    .col-1-2,
    .col-1-4 {
        flex: 0 0 20%;
    }
    .col-2,
    .col-2-4 {
        flex: 0 0 44%;
    }
    .col-3 {
        flex: 0 0 68%;
    }
    .col-4 {
        flex: 0 0 92%;
    }
    .legend {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        align-self: flex-start;
    }
}
